.DS_Store
build
examples/**/ui
examples/**/libs
examples/**/arduinowifi
examples/**/arduinoethernet
examples/**/where-is-the-arduino-code.txt
experiments/**/ui
experiments/**/libs
/resources/libs/evothings/out
evothings.json
app-icon.png
