input[type=range] {
	-webkit-appearance: none;
	background-color: silver;
	width: 100%;
	height:20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 2px;
	background-color: red;
	opacity: 1;
	width: 40px;
	height: 30px;
}
#slider::-webkit-slider-thumb {
	background-color: #ecd53b;
}

button.small,
input.btn-group.small + label,
input.btn-group + label.small {
	font-size: 75%;
	line-height: 1.0;
}

button.middle,
input.btn-group.middle + label,
input.btn-group + label.middle {
	display: block;
	margin: 0 auto;
}

button.right,
input.btn-group.right + label,
input.btn-group + label.right {
	float: right;
	margin-top: -10px;
	margin-right: -30px;
}