#title {
	 margin-bottom: 20px;
	 text-align: left;
 }

#disconnect, #start, #stop {
	display: none;
}

table, th, td {
	border-collapse: collapse;
	text-align: center;
}

table {
	border: 2px solid black;
}

th, td {
	border: 1px solid black;
	border-right: 2px solid black;
}

th {
	font-size: 0.9em;
	overflow: hidden;
}

input[type='checkbox'] {
	display: none;
}

.topRow {
	border-top: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}

#graphContainer {
	z-index: 2000;
	display: none;
	position: fixed;
	top: 0;	bottom: 0; left: 0; right: 0;
	background-color: white;
	text-align: center;
	align-items: center;
}

#container {
	margin: auto;
}

#graphCanvas {
	margin: 10px auto 10px auto;
	padding: 0;
}

#colorInstructions {
	font-size: 15px;
	margin: auto;
}

#lineInstructions {
	font-size: 20px;
}

.colorInstruction {
	display: inline-block;
	position: relative;
	margin-top: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.colorBox {
	width: 15px;
	height: 15px;
	display: inline-block;
	position: absolute;
	top: 1px;
}

.sensorId {
	padding-left: 18px;
}