input[type=range] {
	-webkit-appearance: none;
	background-color: silver;
	width: 100%;
	height:20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 2px;
	background-color: red;
	opacity: 1;
	width: 40px;
	height: 30px;
}
#slider::-webkit-slider-thumb {
	background-color: #ecd53b;
}

.my-header-image
{
	width: 100%;
	height: auto;
}

.container
{
	margin:0;
	text-align: center;
	font-size: 80%;
}

.content 
{
	display:none;
}

.eddystone
{
	float:left;
	width: 50%;
}

.ibeacon
{
	width:50%;
	float:right;
}

.beacon-list
{
	text-align: left;
	font-size: 40%;
}