/* Common styles for Evothings examples. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: sans-serif;

	background: rgb(255,255,255);
}
body {
	margin: 0 8px 0 8px;
	font-size: 90%;
	font-size: 2.5vmax;
}

/* Add a top margin to the content corresponding to the height of the header. */
body::before {
	display: block;
	content: '\0000a0'; /* Non-breaking space (&nbsp;) */
	font-size: 180%; /* Same as the header's font size. */
	line-height: 200%; /* Slighly more than the header's line-height. */
}

/* Add a bottom margin. */
body::after {
	display:block;
	content: '';
	height: 8px;
}

/* The header's height is determined by the contained text's font size. */
header {
	box-sizing: border-box; /* Width & height excludes padding, border & margin. */

	position: fixed;
	top: 0;

	width: 100%;
	
	margin: 0 -8px 8px -8px;
	/* Left padding should correspond to the back button's width. */
	padding: 0 2% 0 12%;

	font-size: 180%;
	line-height: 160%;

	background: rgb(33,70,92);

	z-index: 1000;
}
header button {
	position: absolute;
	left: 0;

	width: 10%;
	height: 100%;
	margin: 0;
	padding: 0;

	/* Font size is percentage of the header's font size. */
	font-size: 50%;
	color: #000;

	border-radius: 0;
	border: none;

	background: gray;
}
header h1 {
	width: 100%;
	margin: 0;
	padding: 0;

	font-size: inherit;
	line-height: inherit;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	color: #eee;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

button {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #000;
}

canvas {
	border: 1px solid #000;
}

h3 {
	font-size: 100%;
}

p {
	font-size: 120%;
}

h1.box,h2.box,h3.box,h4.box {
	margin: 0;
	padding-left: 1%;

	line-height: 150%;
	color: #fff;
	vertical-align: middle;

	background-color: rgb(33,70,92);
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}

div.box {
	box-sizing: border-box;
	width: 100%;
	padding: 1%;
	border: 1px solid rgb(33,70,92);
}

div.box canvas {
	border: none; /* Remove the border, as the box already has one. */
}
